html{
    font-size: 62.5%;
}

body{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(/IMAGES/IMAGEN_PRUEBA_03.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 3rem;
}

.nav_buscador nav{
    display: flex;
    justify-content: flex-start;
    background-color: white;
    padding:1rem;
    margin-top: 1rem; 
    margin-bottom: 1rem;   
}

.nav_buscador nav a{
    margin-inline-start: 2%;
    text-transform: uppercase;
    font-size: 2.3rem;
    text-decoration: none;
}

.intro_tacos{
    margin-top: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

.intro_tacos img{
    margin: 1rem;
    margin-inline-start: 2rem;
}


.intro_tacos p{
    width: 60rem;
    margin: 1rem;
    font-size: 2rem;
    text-decoration-line:initial;
 /*   border-style:dashed; /* Eliminar */
}


.favoritos_section{
    margin-top: 3rem;
}

#favoritos_titulo {
   /* border-style:dashed;  Eliminar */
    display: flex;
    justify-content: flex-start;
    margin-inline-start: 10%;
   font-size: 4rem;
   text-transform: uppercase;
   color: white;
   text-decoration:wavy;
}

.favoritos {
    display: flex;
    flex-direction: column;
    align-items: center;
  /*  border-style:dashed;  /*Eliminar */
    justify-content: space-around;
}

.favoritos_fila_uno{    
   /*  border-style:dashed; Eliminar */
    inline-size: 70%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 4%;
}

.favoritos_fila_uno img{
    height: 35rem;
    width: 35rem;
}

.intro{
    background-color: white;
    padding-block-start: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.intro h3{
    font-size: 2rem;
    text-transform: uppercase;
    margin: 2rem;
}


.favoritos_fila_dos{    
    /*  border-style:dashed; Eliminar */
    inline-size: 70%;
    display: flex;
    justify-content: space-around;
    }



footer{
    margin-top: 8%;
    text-transform: uppercase;
    text-align: center;
    color: white;
    text-decoration: double;
    font-size: 2rem;

}


.div_social{
    
    /*border-style: dashed; */    
    display: inline-flex;  
    align-items: center;

    }


    .div_social a{
    
        /*border-style: dashed; */    
        color: white;
        text-decoration: none;

        }
#Venenosa{
    color: rgb(84, 0, 123);
    font-weight: bold;
}